<button class="menu-btn">
    <svg
        width="63"
        height="31"
        viewBox="0 0 63 31"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <line y1="1.5" x2="63" y2="1.5" stroke="black" stroke-width="3"></line>
        <line
            y1="15.5"
            x2="63"
            y2="15.5"
            stroke="black"
            stroke-width="3"
        ></line>
        <line
            y1="29.5"
            x2="63"
            y2="29.5"
            stroke="black"
            stroke-width="3"
        ></line>
    </svg>
</button>

<ul class="nav box-shadow">
    <li id="about"><a href="#">About</a></li>
    <li><form method="GET" action="/profile/edit"><button>Update Profile</button></form></li>
    <li><form method="POST" action="/signature/update"><button>Update Signature</button></form></li>
    <li><a href="/logout">Logout</a></li>
</ul>