<div class="infobox about">

    <h1>Petition for more hedgehog hotels 🏩 🦔</h1>
    It's that time again - the leaves have fallen and in the concrete It's that
    time again - the leaves have fallen and in the concrete front yards the leaf
    blowers are fired up to blow the annoying leaves out of the driveway in
    front of the SUV. In the process, not only leaves fly around but also many
    small insects such as worms and beetles. The leaves and insects are then
    disposed of. The little big loser in the process is, as every year, the
    hedgehog. Many of the hedgehogs are not sufficiently nourished to survive
    the long winter and are losing their shelter and food due to the leaf
    blowers. Therefore, we demand more so-called hedgehog hotels for the winter
    to take care of the hedgehogs. Please sign the petition now and show that
    you too think that the little prickly inhabitants still belong in the city
    and deserve a shelter for the winter if needed.

    <form method="GET" action="/register"><button id="submitButton">sign here!</button></form>
</div>