<div>
    <p>Edit Profile</p>
    <p>{{errorMessage}}</p>
</div>

<form method="post">
    <input name="age" placeholder="Age" type="number" max="120" min="18" />
    <input name="city" placeholder="City" type="text" />
    <input name="link" placeholder="Your Homepage" type="text" />
    <button id="submitButton">submit</button>
</form>