<header>
    {{>dropdown}}
</header>
{{>about}}
<p>Thank you!</p>
<img src="{{signatureUrl}}" alt="" />
<p>{{rowCount}} people have signed</p>
<a href="/signers"><div><p>see who has signed</p></div></a>

